---
---

<div id="container">
	<main>
		<div class="hero">
        <h1>Chantal Palm Collection</h1>
        <p>This is a paragraph</p>
        <p></p>
		</section>
	</main>
</div>

<style>
    .hero {
      text-align: center;
      margin-bottom: 4rem;
    }

    .hero h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    .hero p {
      font-size: 1.25rem;
      font-weight: 300;
      margin-top: 1rem;
    }
</style>
