---
---

<div id="container">
	<main>
		<section class="hero">
      <img src="logos/logo-artsy.png" alt="logotype" class="logotype mx-auto pl-5">
      <div class="pt-5">
        <h2>Chantal Palm Collection</h2>
        <p>This is a paragraph</p>
      </div>
		</section>
	</main>
</div>

<style>
    .logotype {
      height: 200px;
      width: 240px;
    }
    .hero {
      text-align: center;
      margin-bottom: 4rem;
    }
</style>
